<header class="page-header">
  <h1>About Us</h1>
</header>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Welcome to the Jungle!</h3>
  </div>
  <div class="panel-body">
    <p>The only place where hipsters come to air out their laundry and find all the woke new gadgets on the market.  Jungle specializes in radical and niche items that you won't find anywhere else in the WORLD.</p>
    <br>
    <p>How did we start this amazing e-commerce experience? Well the truth is ... we don't really know! But it sure is awesome, eh?</p>

  </div>
</div>
